html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
	display: block;
	width: 100%;
}

.row {
	overflow: hidden;
}

.row figure {
	float: left;
	width: 50%;
	margin: 0;
	position: relative;
}

.row figcaption {
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	background-color: rgba(0,0,0,0.5);
	padding: 1em;
	color: #fff;
	text-align: center;
}
